<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <RollingFile name="LogFile" fileName="logs/vanilla.log"
                     filePattern="logs/vanilla-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>[%-5level][%d{DEFAULT}] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level][%d{DEFAULT}] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>